


body{

    font-family: 'Poppins', sans-serif;
    color: rgb(59, 58, 58);
    margin-left: 12%;
    margin-right: 12%;
}

h1{

    font-size: 40px;
}
#About-Me-h1{
    font-size: 30px;
}
.Button-Link{
    text-decoration: none;
    color: black;
    background-image: linear-gradient(tomato,orange);
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: bold;
}

.Flexible-Container{

display: flex;

}

#div-Column-1{

   
    width:30%;
    padding-left: 10%;
    padding-top: 5%;
    margin-left: 2%;
    margin-top: 5%;
    
}

#div-Column-2{

    width:40%;
    padding-left: 10%;
    padding-top: 5%;
    
}
#image{

    max-width: 85%;
}

#image-About-Me{

    max-width: 50%;
}

#div-About-Me{

    background-image: url(image/shapes/7.png);
    height: 600px;
}

#div-Column-left-About-Me{

    
    width:50%;
    padding-left: 14% ;
    padding-top: 7%;
    
}

#div-Column-Right-About-Me{

    width:50%;
    padding-top: 9%;

    padding-right:12%;
    
}

.Recipe-Section{

    width:30%;
    margin-left:10%;
}



